.navbar-default {
    background-color:#7A097A;
    background-image: none;
    background-repeat: no-repeat;

}

.filter {
    position: absolute;
    left:50%; 
    margin: 10px auto
}

.navbar-default .navbar-header .navbar-brand {
    color: #fff;
    margin-left: -150px;
    font-size: 30px;
}

.navbar-default .navbar-nav {
    margin-right: -100px;
}


.navbar .navbar-nav>li>a, .navbar .navbar-nav>li>a:hover  {
    color: #fff;
 }

 body {
    padding-top: 50px;
 }

 .select {
     position: inline;
     width: 40%;
     margin: 0 auto;
     margin-top: 5px;
     margin-bottom: -50px;
 }
